.currentPage {
    margin-top: 5%;
}

.currentPage h1 {
    text-align: left;
    margin: 25px 5% 5px 5%;
    font-size: 1.1em;
    text-decoration: underline;
}

.currentPage p {
    width: 90%;
    margin: 0 5%;

}

.currentPage form {
    width: 90%;
    margin: 0 5% 30px 5%;

}

.currentPage input {
    display: block;
}

.currentPage input[type="checkbox"] {
    display: inline;
    margin: 8px 0 18px 8px;
    vertical-align: -2px;
}

.currentPage__addToShortlist {
    width: 90%;
    margin: 25px 5% 5px 5%;
}

.currentPage select {
    width: 90%;
    margin: 5px 5% 5px 5%;
}

.currentPage option {
    padding: 6px;
}

.currentPage progress {
    width: 90%;
    margin: 0 5%;

}

.currentPage input[type=text] {
    padding: 12px 20px;
    margin: 8px 0 18px 0;
    box-sizing: border-box;
    width: 100%;  
    border: 1px solid #ddd;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.currentPage input[type=text]:hover {
	border-color: #ccc;
}
.currentPage input[type=text]:focus {
	border-color: #3595f6;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

.currentPage input[type=radio] {
    display: inline;
}

.currentPage #submit-btn {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.currentPage textarea {
    width: 100%;
    height: 125px;
    margin: 8px 0 18px 0;
    box-sizing: border-box;
    padding: 12px 20px;
    border: 1px solid #ddd;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.currentPage textarea:hover {
	border-color: #ccc;
}
.currentPage textarea:focus {
	border-color: #3595f6;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

.currentPage #scan {
    width: 90%;
    margin: 0 5% 5% 5%;
}

.currentPage #radios { 
    margin: 0 0 5% 5%;
}

.currentPage #radios label { 
    margin-right: 20px;
}

.currentPage #radios p { 
    margin: 0;
}

.currentPage #radios input { 
    margin-right: 6px;
    margin-top: -1px;
    height: 100%;
    vertical-align: middle;
}

.currentPage .dates {
    display: flex;
    flex-direction: row;
}

.currentPage .dates input[type=text] { 
    width: 70%;
}
.currentPage .dates input[type=date] { 
    padding: 12px 20px;
    margin: 8px 0 18px 8px;
    width: 60%;
    border: 1px solid #ddd;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.currentPage .dates input[type=date]:hover {
	border-color: #ccc;
}
.currentPage .dates input[type=date]:focus {
	border-color: #3595f6;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

.currentPage #add {
    margin: -8px 0 18px 0;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.currentPage Tags {
    margin: 8px 0;
}