.currentPage {
    margin-top: 5%;
}

.currentPage textarea {
    width: 90%;
    height: 125px;
    margin: 0 5%;
    padding: 6px;
}

.currentPage h1 {
    text-align: left;
    margin: 25px 5% 5px 5%;
    font-size: 1.1em;
    text-decoration: underline;
}

.currentPage p {
    width: 90%;
    margin: 0 5%;

}

.currentPage form {
    width: 90%;
    margin: 0 5% 30px 5%;

}

.currentPage input {
    display: block;
}

.currentPage input[type="checkbox"] {
    display: inline;
    margin: 8px 0 12px 8px;
    vertical-align: -2px;
}

.currentPage__addToShortlist {
    width: 90%;
    margin: 25px 5% 5px 5%;
}

.currentPage select {
    width: 90%;
    margin: 5px 5% 5px 5%;
}

.currentPage option {
    padding: 6px;
}

.currentPage button {
    margin: 0 5%;
}

.currentPage progress {
    width: 90%;
    margin: 0 5%;

}

.currentPage input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 100%;  
}

.currentPage input[type=radio] {
    display: inline;
}

.currentPage input[type=submit] {
    margin-top: 20px;
}

.currentPage textarea {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    padding: 12px 20px;
}

.currentPage #scan {
    margin-bottom: 5%;
}

.currentPage #radios { 
    margin: 0 0 5% 5%;
}

.currentPage #radios label { 
    margin-right: 20px;
}

.currentPage #radios p { 
    margin: 0;
}

.currentPage #radios input { 
    margin-right: 6px;
    margin-top: -1px;
    height: 100%;
    vertical-align: middle;
}

.currentPage .dates {
    display: flex;
    flex-direction: row;
}

.currentPage .dates input[type=text] { 
    width: 70%;
}
.currentPage .dates input[type=date] { 
    padding: 12px 20px;
    margin: 8px 0 8px 8px;
    width: 60%;
}

.currentPage #add {
    margin-left: 0;
    margin-bottom: 10px;
    display: block;
}

.currentPage Tags {
    margin: 8px 0;
}