.navigation__links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 8% 0 8%;
}

.navigation__links a {
    text-decoration: none;
    color: black;
}

.navigation__links a:hover {
    text-shadow: 0 0 0.1px black;
}