
.shortlist .detail {
    width: 90%;
    margin: 0 5% 30px 5%;
}

.shortlist .detail p {
    padding-bottom: 18px;
}

.shortlist .detail button {
    padding: 6px 20px;
    margin: 12px 0;
}


.shortlist input {
    display: block;
}

.shortlist input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 100%;  
}

.shortlist .links {
    display: flex;
    flex-direction: row;
}

.shortlist .links input[type=text] { 
    width: 70%;
}

.shortlist #add {
    margin-left: 0;
    margin-bottom: 10px;
    display: block;
}

.shortlist input[type=checkbox] {
    display: inline;
    margin-left: 4px;

}

.shortlist .filters {
    margin: 15px 15px 0 15px;
    justify-content: space-between;
    display: flex;
}
